<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<section class="hero-is-medium has-background-light">
    <div class="hero-body">
        <h1 class="title">New Guitars Page</h1>
    </div>
</section>
    <form action="/Guitars" method="POST">
        <div class="field">
            <label class="label">Guitar Name</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    placeholder="My new favorite product"
                    name="name"
                />
            </div>
        </div>

        <div class="field">
            <label class="label">Guitar Price</label>
            <div class="control">
                <input class="input" type="number" placeholder="32" name="price" />
            </div>
        </div>

        <div class="field">
            <label class="label">Guitar Image</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    placeholder="http://"
                    name="image"
                />
            </div>
        </div>
        <div class="field">
            <label class="label">Guitar Description</label>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    placeholder="Tell the Users all about this"
                    name="descrption"
                />
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-info">Create Guitar</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>